USE [prisonersdilemma]
GO
/****** Object:  Table [dbo].[game_session]    Script Date: 6/8/2025 01:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_session](
	[user1_id] [int] NOT NULL,
	[choice_type] [varchar](50) NOT NULL,
	[game_nr] [int] NULL,
	[m_points] [int] NULL,
	[coopcoop] [int] NULL,
	[coopdeflect] [int] NULL,
	[deflectcoop] [int] NULL,
	[deflectdeflect] [int] NULL,
	[user2_id] [int] NOT NULL,
	[choice_type2] [varchar](50) NULL,
	[game2_nr] [int] NULL,
	[m_points2] [int] NULL,
	[coopcoop2] [int] NULL,
	[coopdeflect2] [int] NULL,
	[deflectcoop2] [int] NULL,
	[deflectdeflect2] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[game_session] ON 

INSERT [dbo].[game_session] ([user1_id], [choice_type], [game_nr], [m_points], [coopcoop], [coopdeflect], [deflectcoop], [deflectdeflect], [user2_id], [choice_type2], [game2_nr], [m_points2], [coopcoop2], [coopdeflect2], [deflectcoop2], [deflectdeflect2], [ID]) VALUES (2043, N'Coop', 0, 88, 8, 20, -12, -5, 2048, N'Deflect', 0, 120, 8, 20, -12, -5, 21398)
INSERT [dbo].[game_session] ([user1_id], [choice_type], [game_nr], [m_points], [coopcoop], [coopdeflect], [deflectcoop], [deflectdeflect], [user2_id], [choice_type2], [game2_nr], [m_points2], [coopcoop2], [coopdeflect2], [deflectcoop2], [deflectdeflect2], [ID]) VALUES (2048, N'Coop', 0, 128, 8, 20, -12, -5, 2043, N'Coop', 0, 96, 8, 20, -12, -5, 21399)
INSERT [dbo].[game_session] ([user1_id], [choice_type], [game_nr], [m_points], [coopcoop], [coopdeflect], [deflectcoop], [deflectdeflect], [user2_id], [choice_type2], [game2_nr], [m_points2], [coopcoop2], [coopdeflect2], [deflectcoop2], [deflectdeflect2], [ID]) VALUES (2043, N'Coop', 0, 84, 8, 20, -12, -5, 2048, N'Deflect', 0, 148, 8, 20, -12, -5, 21400)
SET IDENTITY_INSERT [dbo].[game_session] OFF
GO
ALTER TABLE [dbo].[game_session]  WITH CHECK ADD  CONSTRAINT [FK_game_session_user_data1] FOREIGN KEY([user2_id])
REFERENCES [dbo].[user_data] ([user_id])
GO
ALTER TABLE [dbo].[game_session] CHECK CONSTRAINT [FK_game_session_user_data1]
GO
ALTER TABLE [dbo].[game_session]  WITH CHECK ADD  CONSTRAINT [FK_game_session_user_data2] FOREIGN KEY([user2_id])
REFERENCES [dbo].[user_data] ([user_id])
GO
ALTER TABLE [dbo].[game_session] CHECK CONSTRAINT [FK_game_session_user_data2]
GO
